@use "./global";
@mixin size($size) {
    width: $size;
    height: $size;
}
#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content-container {
    width: clamp(5em, 100%, 50em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button,
    input {
        text-align: center;
        margin: 0.75rem;
        padding: 1rem;
        width: 100%;
    }

    #img {
        // image container retain dom space when loading img
        @include size(8rem);
        img {
            user-select: none;
            pointer-events: none;
            @include size(8rem);
        }
    }

    h1 {
        user-select: none;
        pointer-events: none;
        margin: .45rem;
        text-align: center;
        color: hsl(204, 100%, 57%);
        width: 100%;
    }
}
